{% extends "base.html.j2" %}

{% block title %}404{% endblock %}
{%block body %}
<div class="hero">
    <div class="hero-body">
        <div class="content u-text-center my-auto">
            <h1 class="heading-1 uppercase">404</h1>
            <h1 class="heading-1 uppercase">PAGE NOT FOUND</h1>
        </div>
    </div>
</div>
{% endblock %}