<!DOCTYPE html>
{# TODO: fix lang #}
<html lang="fr-FR">

<head>
    <link rel="stylesheet" href="https://unpkg.com/cirrus-ui" />
    <link rel="stylesheet" href="/assets/fontawesome-free-6.5.2-web/css/all.css" />

    <link rel="stylesheet" href="/assets/custom/css/all.css" />
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">

    {% block stylesheet %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />

    <script src="/pagefind/pagefind-ui.js"></script>

    {% block script %}
    {% endblock %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="og:site_name" content="{{ metadata.name }}" />

    <title data-pagefind-meta="title">{% block title %}{% endblock %}</title>
    <meta name="title" content="{{ self.title() }}" />
    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="twitter:title" content="{{ self.title() }}" />

    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta property="og:description" content="{{ self.description() }}" />
    <meta property="twitter:description" content="{{ self.description() }}" />
    {% if self.thumbnail() %}
    <meta data-pagefind-meta="image[content]" property="og:image"
        content="{{ settings.base_url }}/{% block thumbnail %}{% endblock %}" />
    <meta property="twitter:image" content="{{ settings.base_url }}/{{ self.thumbnail() }}" />
    {% endif %}
</head>

<body>

    <div class="header" style="padding-left: 0;">
        <div class="header-brand" style="margin-left: 0;">
            <div class="nav-item nav-btn" style="cursor: pointer; display: block; position: relative; margin-left: 0;">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav-item no-hover">
                <a href="/">
                    <h6 class="title">{{ metadata.name }}</h6>
                </a>
            </div>

        </div>
        <div class="header-nav" id="header-menu" role="button">
            <div class="nav-left">
                <div class="nav-item no-hover">
                    <a href="/list.html">
                        Articles
                    </a>
                </div>
                <div class="nav-item no-hover">
                    <a href="#search-modal">
                        Recherche
                    </a>
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-item no-hover">
                    <a href="/contact.html">
                        Contact
                    </a>
                </div>
                {% if metadata.instagram %}
                <div class="nav-item no-hover">
                    <a href="{{ metadata.instagram }}">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal modal-large modal-animated--dropdown" id="search-modal">
        <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
        <div class="modal-content" role="document">
            <div class="modal-header u-flex u-justify-space-between" style="min-width: 100%">
                <div class="modal-title u-text-right">
                    <a href="" aria-label="Close">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </a>
                </div>
            </div>

            <div class="modal-body">
                <div class="r">
                    <h3 class="font-alt font-light u-text-center">Rechercher dans les articles</h3>
                </div>
                <div class="space"></div>
                <div class="input-control">
                    <input id="pagefindsearch" type="text" class="input-contains-icon"
                        placeholder="Rechercher dans les articles">
                    <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                <div class="divider"></div>
                <template id="pagefindresultitem">
                    <div class="tile tile--center py-1 px-2 my-1"
                        style="box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 6px, rgba(0, 0, 0, 0.03) 0px 3px 6px;">
                        <div class="tile__icon">
                            <figure class="avatar"><img id="pagefindresultitem-thumbnail" src=""></figure>
                        </div>
                        <div class="tile__container">
                            <p class="tile__title m-0" id="pagefindresultitem-title"></p>
                            <p class="tile__subtitle m-0" id="pagefindresultitem-content"></p>
                        </div>
                    </div>
                </template>
                <div class="my-1" id="pagefindresult"></div>
            </div>
        </div>
    </div>
    <div class="u-flex u-flex-column u-justify-center">
        {% block body %}{% endblock %}
    </div>

    <footer class="footer">
        <h6 class="footer__title text-white uppercase">{{ metadata.name }}</h6>
        <div class="content">

            <div class="divider"></div>
            <div class="row">
            </div>
            <p class="subtitle">
                {{ metadata.author }} <i class="text-primary fa fa-regular fa-copyright"></i> {{ metadata.date }}
            </p>
            <p class="subtitle">
                Made with <i class="text-primary fa fa-heart"></i> using <span class="text-primary">minerva</span> and
                <span class="text-primary">minerva-default</span> theme.
            </p>
        </div>
    </footer>


    <script>
        // Get all the nav-btns in the page
        let navBtns = document.querySelectorAll('.nav-btn');

        // Add an event handler for all nav-btns to enable the dropdown functionality
        navBtns.forEach(function (ele) {
            ele.addEventListener('click', function () {
                // Get the dropdown-menu associated with this nav button (insert the id of your menu)
                let dropDownMenu = document.getElementById('header-menu');

                // Toggle the nav-btn and the dropdown menu
                ele.classList.toggle('active');
                dropDownMenu.classList.toggle('active');
            });
        });
    </script>
    <script>
        window.onload = async function () {
            const pagefind = await import("/pagefind/pagefind.js");
            pagefind.init();

            function formatpagefindresult(results, output) {
                output.innerHTML = "";
                let template = document.querySelector("#pagefindresultitem");
                results.forEach(function (result) {
                    console.log(result)
                    const tile = template.content.cloneNode(true);
                    tile.querySelector("#pagefindresultitem-title").textContent = result.meta.title;
                    tile.querySelector("#pagefindresultitem-thumbnail").src = result.meta.image;
                    tile.querySelector("#pagefindresultitem-content").src = result.excerpt;

                    output.appendChild(tile);
                });
            }

            async function pagefindsearch(value) {
                const search = await pagefind.search(value);
                const results = await Promise.all(search.results.slice(0, 5).map(r => r.data()));
                let searchResultBox = document.getElementById("pagefindresult");
                formatpagefindresult(results, searchResultBox);
            }

            let searchBox = document.getElementById("pagefindsearch")
            searchBox.addEventListener('keyup', function () { pagefindsearch(searchBox.value); });


        }</script>
</body>

</html>