{% extends "base.html.j2" %}

{% block title %}{{ metadata.name }}{% endblock %}
{%block body %}
<div class="frame">
    <div class="frame__header">
        <div class="frame__title u-text-center">
            <h1>{{ metadata.name }}</h1>
        </div>
    </div>
    <div class="frame__body">
        <div class="frame__subtitle u-text-center">
            {{ metadata.description }}
        </div>
    </div>

    <div class="grid grid-cols-3 u-gap-2">
        {% for post in posts %}
        <div class="card card--slide-up">
            <div class="card__image"></div>
            <div class="card__mobile-title">
                <div class="content">
                    <div class="tile">
                        <div class="tile__title">{{ post.title }}</div>
                        <div class="tile__subtitle">{{ post.summary }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}